/* ----------------------------GENERAL------------------------------- */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -------------COMMON ------------------*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* -------------HEADER ------------------*/

.main {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu-list, .main-address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.main-logo {
    padding: 16px 0; 
    display: block;
}

.main-logo .main-logo-studio {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block; 
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .main-menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .main-address {
        font-style: normal;
        display: block;
    }
    .main-nav {
        display: flex;
        align-items: center;
    }
    .main-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .main-menu-link {
        position: relative;
        padding: 24px 0;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .main-menu-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .main-menu-link:hover::after,
    .main-menu-link:focus::after,
    .main-menu-link.current::after {
        opacity: 1;
    }
    .main-menu-link:hover,
    .main-menu-link:focus,
    .address-item-link:hover,
    .address-item-link:focus,
    .main-menu-link.current {
        color: #404bbf;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .address-item-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1158px) {
    .main-logo {  
        margin-right: 76px;
    }
    .main-address {
        margin-left: auto;
    }
    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .address-item-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


/*-------------- mobile menu----------- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0; 
    visibility: hidden; 
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1; 
    visibility: visible; 
    pointer-events: auto;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px; 
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-nav-container {
    margin-bottom: auto;
}

.mobile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus { 
    background-color: #404bbf;
}

.mobile-menu-close:hover .mob-close-icon {
    fill: #ffffff;
}
.mobile-menu-close:focus .mob-close-icon {
    fill: #ffffff;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.mobile-address {
    font-style: normal;
    display: block;
}
.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mobile-address-link {
    display: block;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-menu-link:hover,
.main-menu-link:focus,
.address-item-link:hover,
.address-item-link:focus {
        color: #404bbf;
}

.mobile-soc {
    margin-top: 48px;
    max-width: 280px;
}

.bottom-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.mobile-link-icon:hover,
.mobile-link-icon:focus {
    background-color: #404bbf;
}

.mobile-list-icon {
    display: flex;
    gap: 40px;
}
.bottom-item-icon {
    width: 40px;
    height: 40px;
}
.team-icon {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* -----------------------HERO---------------------- */
.section {
    padding: 96px 0;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/bgimage_mob_1x.jpg);
    max-width: 320px;
    min-height: 420px;
    padding: 72px 0;
    margin: 0 auto;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/bgimage_mob_2x.jpg);
    }
}


.hero-title {
    max-width: 216px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn, .btn-send {
    display: block;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    margin-top: 72px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.btn-send:hover,
.btn-send:focus,
.btn-subscribe:hover,
.btn-subscribe:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 96px 0;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/bgimage_tab_1x.jpg);
        max-width: 768px;
        min-height: 436px;
        padding: 112px 0;
    }
    @media (min-resolution: 2x) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/bgimage_tab_2x.jpg);
        }
    }
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    }
    .hero-btn {
        margin-top: 36px;
    }
}
@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/bgimage_desc_1x.jpg);
        max-width: 1440px;
        min-height: 600px;
        padding: 188px 0;
    }
    @media (min-resolution: 2x) {
        .hero { 
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/bgimage_desc_2x.jpg);
        }
    }
    .hero-btn {
        margin-top: 48px;
    }
}

/* ----------------------------VALUES ----------------------------*/

.values-icon {
    display: none;
}

.values-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.values-item {
    max-width: 288px;
}


.values-item-title {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.values-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 

@media screen and (min-width: 768px) {
    .values-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .values-item {
        max-width: 356px;
        width: calc((100% - 72px) / 2);
    }
    .values-item-title {
        text-align: left;
    }
}


@media screen and (min-width: 1158px) {
    .values-icon {
        display: block;
    }
    .background-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }
    .values-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .values-item {
        max-width: 264px;
        width: calc((100% - 72px) / 4);
    }
    .values-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

/* -------------------------TEAM--------------------------------- */

.team {
    background-color: #f4f4fd;
}
.team-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
}
.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}
.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    max-width: 264px;
    background: #fff;
}
.team-item-img {
}
.team-item-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-item-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-text-container {
    text-align: center;
    padding: 32px 0;
}
.team-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-item-icon {
    width: 40px;
    height: 40px;
}

.team-link-icon { 
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: #404bbf;
}
.team-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .team-item {
        width: calc((100% - 64px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* ----------------------PORTFOLIO------------------------------ */

.portfolio-title {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.portfolio-item {
    background: #fff;
    max-width: 288px; 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
}


.portfolio-item-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-text-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}


.portfolio-cover {
    position: relative;
    overflow: hidden;
}

.portfolio-hidden-text {
    position: absolute; 
    top: 0; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
    height: 100%;
    transform: translateY(100%);
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-hidden-text {
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .portfolio-item {
        width: calc((100% - 72px) / 2);
        max-width: 356px;  
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    max-width: 360px;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    } 
    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/* -----------------------FOOTER----------------------------------- */

.bottom {
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #2e2f42;
}
.bottom-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px; 
}
.bottom-left {
    max-width: 288px;
    text-align: center;
}

.bottom-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.bottom-logo .bottom-logo-studio {
    color: #f4f4fd;
}
.bottom-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

.bottom-right {
    display: flex; 
    flex-direction: column;
    max-width: 208px;
}
.bottom-soc-text, .subscribe-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.bottom-link-icon:hover,
.bottom-link-icon:focus {
    background-color: #31d0aa;
}

.bottom-list-icon {
    display: flex;
    gap: 16px;
}
.bottom-item-icon {
    width: 40px;
    height: 40px;
}
.bottom-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 8px;
    font-family: "Roboto", sans-serif;
    font-size:  12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    outline: transparent;
    background-color: transparent;
    opacity: 0.6;
}
.subscribe-input::placeholder {
    color: #fff;
}
.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-subscribe {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .bottom-container { 
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 24px;
        padding: 0 108px;
        justify-content: start;
    }
    .bottom-right {
        display: flex; 
        flex-direction: column;
    }
    .bottom-left, .bottom-soc-text, .subscribe-text {
        text-align: left;
    }
    .bottom-left {
        max-width: 264px;
    }
    .subscribe-input {
        width: 264px;
    }
    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
    .subscribe {
        align-items: flex-start;
    }
}
@media screen and (min-width: 1158px) {
    .bottom-container {
        flex-wrap: nowrap;
        gap: 0;
        justify-content: center;
        padding: 0 15px;
    }
    .bottom {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .bottom-text {
        min-width: 268px;
    }
    .bottom-left {
        
    }
    .bottom-right {
        margin-left: 120px;
       
    }
    .subscribe {
        margin-left: 80px;
        min-width: 453px;
    }
    .subscribe-input{
        opacity: 1;
    }
} 

/* ---------------------MODAL-------------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-close {
    background-color: #E7E9FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close:hover .close-icon {
    fill: #ffffff;
}
.modal-close:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
    max-width: 256px;  
    margin-bottom: 16px;
}
.modal-form {
}
.modal-lable {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-size:  12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.input-wrap {
    position: relative;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 34px;
    padding-right: 8px;
    font-family: "Roboto", sans-serif;
    font-size:  12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: transparent;  
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .subscribe-input:focus {
    border-color: #4D5AE5;
}
.modal-input::placeholder, .modal-textarea::placeholder { 
    color: rgba(46, 47, 66, 0.4);
}


.modal-input:focus + .modal-icon {
    fill:#4D5AE5;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size:  12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    outline: transparent;
    resize: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
    margin-bottom: 16px;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-field-checkbox {
    margin-bottom: 28px;
}
.modal-privacy {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-privacy-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-privacy .modal-privacy-check {
    background-color: #404bbf;
    border: none; 
    fill: #f4f4fd;
}


.privacy-policy {
    text-decoration: underline;
    color: #4d5ae5;
}
.btn-send {
    margin-top: 0;
}
@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
    .modal-title {
        max-width: 360px;  
    }
    .modal-field-checkbox {
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1158px) {
    .modal-input {
        padding-left: 38px;
    }
}